body{
	/*background-image: url("Alaska.jpg");*/
	background-color: #91bbe9;
	margin: 5px;
}
/*Page HOME*/

/*header*/
header{
	display: flex; background: white; border-bottom: 5px double #052942;
	height: 165px;

}
h1{font-family: 'Roboto'; font-weight: bold; color:#041F33;
	/*font-size: 3.2em;*/ margin: auto; text-align: center;}

h2{	font-size: 1.6em;}

/*Article*/
h3{margin:2px; text-align: center; font-family: 'Dancing Script', cursive;}

h4{	font-family: 'Courgette', cursive; margin:0px; text-align: center; font-size:1.2em; 
    border: solid 1px; background: #0B8AA1; color:white;}

h5 a{ font-family: 'Helvetica'; font-size: 1.2em; color: white; margin: 0px;}

h5{background:  #0B8AA1; margin:5px; text-align: center;}

p{font-family: 'Raleway', sans-serif;}

#headR_Home{height:120px; display: flex; flex-direction: column; width:65%; margin: auto;}

#nav_Log{display: flex; flex-direction: column; justify-content: space-around; width: 35%;}

